.footer {
  padding: 25px 36px 15px 36px;
  background-color: #242424;
}

.footer-section {
  padding-bottom: 10px;
}

.footer-title {
  color:	#f9f9f9;
}

.footer-list {
  padding-top: 20px;
  /* padding-bottom: 20px; */
  color: #717171;
}

.footer-list a {
  color: #717171;
}

.footer-input-sm {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: .3rem .75rem;
  background-color: #242424;
  color: #515151;
}

.footer-input-sm:focus {
  background-color: #242424;
  color: lightgray;
}

.footer-rights {
  color: 	#717171;
}

.footer-address {
  color: 	#717171;
  text-align: right;
}

.social {
  font-size: 32px;
  padding: 20px 20px 10px 0px;
  color: #323232;
}

.bg-logo {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
}

.bg-black {
  background-color: #242424;
}